body
{
	background-image: url("Images/catbg4.jpg");
	background-color: #8c8c8c;
	width: 60%;
	margin: auto;
	font-family: Verdana;
}

body a
{
	color: rgb(191, 63, 116);
}

#logo
{
	height: 150px;
	width: auto;
}

.banner
{
	width: 100%;
	height: auto;
}

a
{
	text-decoration: none;
}

.content
{
	background-color: #ffffcc;
	padding: 10px;
}

.nav
{
	position: absolute;
	z-index: 1;

}

.nav a
{
	color: white;
	text-transform: uppercase;
	padding: 10px;
	font-weight: bold;
	font-size: 150%;
	display: inline-block;
	vertical-align: top;
	text-shadow: 3px 3px rgba(15, 11, 13, 0.6);
}

.socialmedia a
{
	outline: none;
	position: relative;
	top: -60px;
	left: 7px;
	clear: top;
	display: inline-block;
}

section#info
{
	width: auto;
	z-index: 1;
	padding: 20px;
	position: relative;
	top: -300px;
	float: right;
	color: white;
	opacity: 0.5;
	transition: 0.3s;
	font-size: 75%;
}

section#info:hover
{
	opacity: 1;
	text-shadow: 3px 3px rgba(15, 11, 13, 0.6);
}

section#info a
{
	color: pink;
}

footer
{
	background-color: rgb(201, 191, 195);
	position: relative;
	top: -317px;
	font-size: 75%;
	padding: 10px;
}

footer a
{
	color: rgb(49, 85, 113);
}

.content
{
	position: relative;
	top: -317px;
	clear: right;
}

/* Page-specific CSS */

#indexlinks img
{
	width: 33%;
	height: auto;
	display: inline-block;
	padding: 20px;
	box-sizing: border-box;
}